@import "../globals.css";

.medicines-manager-layout{
  width: 45%;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: -7px 7px 6px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

.medicines-manager-header{
  width: 100% ;
  background-color: var(--primary-blue);
  color: var(--primary-pale-yellow);
  text-align: center;
}

.medicines-manager-header h1{
  font-family: var(--header-font);
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 7px;
}

.medicines-manager-nav{
  width: 100%;
  background-color: var(--primary-dark-grey);
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.medicines-manager-nav a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 7px;
  color: var(--primary-dark-grey) ;
  background-color: var(--primary-blue);
  /* border: 2px solid var(--primary-pale-yellow); */
  border-radius: 10px;
}

.medicines-manager-nav .active{
  color: var(--primary-blue) ;
  background-color: transparent;
  outline: 2px solid var(--primary-blue);
}