@import "../globals.css";

@import "../globals.css";


.medicines-list-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
}

.btns-container{
  display: flex;
  gap: 10px;
}

.delete-btn, .edit-btn{
  border: none;
  padding: 7px 8px;
  border-radius: 7px;
  cursor: pointer;
}

.delete-btn{
  background-color: var(--secondary-red);
}

.edit-btn{
  background-color: var(--primary-blue);
}

