@import "../globals.css";

.medicines-form-container {
  background-color: var(--primary-dark-grey);
  color: white;
  padding: 30px;
  font-family: var(--body-font);
}

.form-details-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-details-container label{
  margin-bottom: 10px;
}

.form-details-container input,
.form-details-container textarea,
.form-details-container select {
  padding: 7px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.submit-btn-container {
  text-align: center;
}

.submit-btn {
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-yellow);
  font-weight: 500;
  transition: 0.1s;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:hover {
  outline: 2px solid var(--secondary-yellow);
  color: var(--secondary-yellow);
  background-color: transparent;
}

.medicine-price-date-category{
  display: flex;
  justify-content: space-between;
}

#medicine-desc{
  resize: none;
  height: 150px;
}

.medicine-price-date-category div{
  width: 30%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
