@import "../globals.css";


.requests-list-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 7px;
  border-radius: 10px;
}

.btns-container{
  display: flex;
  gap: 10px;
}

.decline-btn, .accept-btn{
  border: none;
  padding: 10px;
  border-radius: 7px;
  color: white;
  transition: 0.15s;
  font-weight: bolder;
}

.accept-btn:hover{
  outline: 2px solid var(--secondary-green);
  background-color: #a3e9c9;
  color: var(--secondary-green);
}

.decline-btn:hover{
  outline: 2px solid var(--secondary-red);
  background-color: #eabec3b1;
  color: var(--secondary-red);
}

.decline-btn{
  background-color: var(--secondary-red);
}

.accept-btn{
  background-color: var(--secondary-green);
}

