@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');


:root{
    /* COLORS */

    --primary-pale-yellow: #FFF1D0;

    /* TYPOGRAPHY */
    --header-font: 'Archivo Black', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    text-align: center;
}

header h1{
    color: var(--primary-pale-yellow);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-family: var(--header-font);
}