@import './globals.css';

.login-form-container{
 background-color: var(--primary-dark-grey);
 color: white;
 width: 30%;
 border-radius: 20px;
 overflow: hidden;
 box-shadow: -7px 7px 6px rgba(0, 0, 0, 0.25);
}

.login-header{
  background-color: var(--primary-blue);
  width: 100%;
  text-align: center;
  padding: 7px;
}

.login-header h1 {
  color: var(--primary-pale-yellow);
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: var(--header-font);
}

.login-form{
  padding: 30px;
}

.email, .password{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

.email > input, .password > input{
  padding: 7px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.email > label, .password, label{
  font-family: var(--body-font);
  font-size: 16px;
  font-weight: 300;
}

.login-btn-container{
  text-align: center;
}

.login-btn{
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: var(--secondary-yellow);
  font-weight: 500;
  transition: 0.1s;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover{
  outline: 2px solid var(--secondary-yellow);
  color: var(--secondary-yellow);
  background-color: transparent;
}